html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

  font-family: Mulish, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

table,
th,
tr {
  padding: 8px;
  text-align: start;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 16px;
}

th:nth-child(even) {
  background-color: #fc3;
}
tr:nth-child(even) {
  background-color: #ffe699;
}

:root {
  --main: #ffb366;
  --mainRGB: 255, 179, 102;
}

html {
  font-family: 'mulish';
  font-size: 18px;
  line-height: 2em;
}

body {
  background-image: url(../public/test.svg);
  background-size: 42px;
  margin: 0;
  padding: 32px 32px;
}

body:first-of-type {
  margin-top: 4rem;
}

article {
  background: #ffffff;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  border-radius: 0.75rem;
  max-width: 68rem;
  margin: 2rem auto;
  overflow: hidden;
  padding-bottom: 1.25rem;
}

article .article-img-start {
  width: 100%;
  aspect-ratio: 32/12;
  background-position: center;
  object-position: center;
  background-size: cover;
  object-fit: cover;
  min-height: 512px;
}

h1 {
  color: var(--main);
  margin: 1.5rem 2rem;
  margin-bottom: 1.35rem;
  font-size: 2rem;
}

h2 {
  color: #202020;
  margin: 0.64em 2rem;
  font-size: 1.25rem;
}

p {
  margin: 1.25em 3rem;
  margin-bottom: 1.5rem;
}

.h1-subtitle {
  color: #acacac;
  font-size: 1.15rem;
  font-weight: 600;
  margin: 0.3rem 3rem;
  margin-bottom: 0.75rem;
}

a {
  font-weight: 600;
  display: inline-block;
  color: var(--main);
  text-decoration: underline;
  text-decoration-color: rgba(var(--mainRGB), 0);
  transition: all 300ms;
  text-decoration-thickness: 0.14rem;
}

a:hover {
  top: -0.23rem;
  transform: translate(0, -0.22rem);
  text-decoration-color: rgba(var(--mainRGB), 255);
}

.master {
  background: unset;
  box-shadow: unset;
  backdrop-filter: unset;

  position: fixed;
  top: 1.4rem;
  left: 0.65rem;
  width: 100vw;
  overflow-x: auto;
  bottom: unset;

  z-index: 1000;
  transition: all 120ms;

  display: grid;
  padding: 0.32rem 1.5rem;
  padding-right: 1.75rem;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.master.scroll {
  top: 0rem;
  left: 0rem;

  background: rgba(255, 255, 255, 0.97);
  border-radius: 0rem 0rem 0.5rem 0rem;
  box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.13);
  backdrop-filter: blur(1px);

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: min-content;
  max-width: 100vw;
  align-items: baseline;
}

.master:hover.scroll {
  padding-top: 0.05rem;
  padding-bottom: 0.6rem;
}

.master * {
  display: none;
  color: var(--main);
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 120ms;
  margin: 0 1.3rem;
}

.master:hover *,
.master:not(.scroll) * {
  display: unset;
}

.master:hover.scroll *:nth-child(2) {
  margin-left: 3rem;
}

.master:hover.scroll *:last-child {
  margin-right: 0;
}

.master-title,
.master-title:hover {
  line-height: 1.28em;
  position: relative;
  margin: 0;
  width: unset;
  display: inline;
  font-size: 2.65rem;
  font-weight: 700;

  justify-self: start;
}

@media screen and (max-width: 900px) {
  body {
    padding: 0;
  }

  body:first-of-type {
    margin-top: 0;
  }

  .master {
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    align-items: baseline;
  }

  article {
    border-radius: 0;
    margin: 5rem auto;
  }

  h1 {
    margin: 1.5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  h2 {
    margin: 1rem 1rem;
  }

  p {
    margin: 1em 1rem;
  }

  .h1-subtitle {
    margin: 0.3rem 1.5rem;
  }
}
