html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */

  font-family: Mulish, Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

table,
th,
tr {
  padding: 8px;
  text-align: start;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: 16px;
}

th:nth-child(even) {
  background-color: #fc3;
}
tr:nth-child(even) {
  background-color: #ffe699;
}

/*
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: #303030;
  --foreground: white;
} */
